mixin start-radio-nums(labelName, inputName, isChecked)
	label #{labelName}
		if isChecked
			input(type='radio' data-name=labelName name=inputName checked)
		else
			input(type='radio' data-name=labelName name=inputName)